/*
  Colors
*/
/*
  Fonts
*/
/* line 1, ../sass/_page.scss */
article {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 20px;
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  padding: 40px;
  box-shadow: 0px 0px 4px black;
}
/* line 12, ../sass/_page.scss */
article:first-child {
  margin-top: 40px;
}
/* line 15, ../sass/_page.scss */
article:last-child {
  margin-bottom: 20px;
}

/* line 20, ../sass/_page.scss */
.application-header {
  margin-bottom: 10px;
}
/* line 24, ../sass/_page.scss */
.application-header .name h1 {
  vertical-align: middle;
}
/* line 30, ../sass/_page.scss */
.application-header .profile-photo {
  text-align: center;
}
/* line 32, ../sass/_page.scss */
.application-header .profile-photo img {
  box-shadow: 0px 0px 3px #999;
  height: 150px;
  margin: auto;
}
/* line 39, ../sass/_page.scss */
.application-header .address p, .application-header .address span {
  text-align: right;
  line-height: 2;
}
/* line 43, ../sass/_page.scss */
.application-header .address i {
  margin-left: 15px;
  width: 10px;
}

/* line 54, ../sass/_page.scss */
.application-footer {
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
/* line 61, ../sass/_page.scss */
.application-footer p {
  text-align: center;
  font-size: 10px;
}

/* line 1, ../sass/_navigation.scss */
ul.navigation, ul.print, ul.settings {
  z-index: 3000;
  padding: 0;
  list-style: none;
  display: block;
}

/* line 9, ../sass/_navigation.scss */
ul.settings li {
  margin-bottom: 5px;
}
/* line 11, ../sass/_navigation.scss */
ul.settings li a {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #666;
  border-radius: 0px;
  padding-left: 5px;
  text-transform: uppercase;
  background-color: #00A4DE;
  color: #FFFFFF;
}
/* line 17, ../sass/_navigation.scss */
ul.settings li a:hover {
  text-decoration: none;
}

/* line 25, ../sass/_navigation.scss */
ul.navigation li, ul.print li {
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  height: 40px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 35, ../sass/_navigation.scss */
ul.navigation li:first-child, ul.print li:first-child {
  margin-left: 10px;
}
/* line 39, ../sass/_navigation.scss */
ul.navigation li:before, ul.print li:before {
  width: 20px;
  height: 20px;
  display: block;
  background: green;
}
/* line 46, ../sass/_navigation.scss */
ul.navigation li:hover, ul.print li:hover {
  height: 60px;
}
/* line 50, ../sass/_navigation.scss */
ul.navigation li a, ul.print li a {
  text-shadow: 1px 2px 3px black;
  color: white;
}
/* line 53, ../sass/_navigation.scss */
ul.navigation li a:hover, ul.print li a:hover {
  text-decoration: none;
}

/* line 60, ../sass/_navigation.scss */
ul.navigation {
  position: absolute;
  top: -20px;
  right: 0px;
}

/* line 66, ../sass/_navigation.scss */
ul.settings {
  position: absolute;
  top: 0px;
  right: 5px;
}

/* line 72, ../sass/_navigation.scss */
ul.print {
  position: absolute;
  top: -20px;
  left: 0px;
}

/* line 2, ../sass/pages/_index.scss */
#index .application-content {
  margin-top: 20px;
}
/* line 4, ../sass/pages/_index.scss */
#index .application-content h1, #index .application-content h2, #index .application-content h3 {
  line-height: 1;
}
/* line 8, ../sass/pages/_index.scss */
#index .application-content h3 {
  text-align: left;
}
/* line 12, ../sass/pages/_index.scss */
#index .application-content .first-row {
  width: 100%;
}
/* line 14, ../sass/pages/_index.scss */
#index .application-content .first-row a {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", "Arial";
  text-transform: uppercase;
}
/* line 18, ../sass/pages/_index.scss */
#index .application-content .first-row a:hover {
  color: #00a4de;
}

/* line 4, ../sass/pages/_application.scss */
#cover-letter .application-content .content p {
  text-align: justify;
  margin-bottom: 15px;
}
/* line 8, ../sass/pages/_application.scss */
#cover-letter .application-content p {
  font-family: "Open Sans", "Helvetica Neue", "Arial";
  line-height: 1.5;
}
/* line 13, ../sass/pages/_application.scss */
#cover-letter .subject {
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #999999;
  font-weight: bold;
}
/* line 23, ../sass/pages/_application.scss */
#cover-letter .title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 31, ../sass/pages/_application.scss */
#cover-letter .salutation {
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 3, ../sass/pages/_skill.scss */
#skill-page .skill-section {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 10, ../sass/pages/_skill.scss */
.information-list p {
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.2;
  vertical-align: bottom;
  margin: 0;
  text-transform: uppercase;
}
/* line 19, ../sass/pages/_skill.scss */
.information-list table {
  min-width: 100%;
  margin-bottom: 10px;
}
/* line 22, ../sass/pages/_skill.scss */
.information-list table tr {
  margin: 10px 0px;
}
/* line 24, ../sass/pages/_skill.scss */
.information-list table tr td:first-child {
  width: 60%;
}
/* line 28, ../sass/pages/_skill.scss */
.information-list table tr td:last-child {
  width: 40%;
}
/* line 32, ../sass/pages/_skill.scss */
.information-list table tr a {
  color: black;
}
/* line 34, ../sass/pages/_skill.scss */
.information-list table tr a:hover {
  text-transform: none;
}

/* line 1, ../sass/components/_timeline.scss */
.com-timeline {
  list-style: none;
  padding: 0;
  padding-top: 20px;
  position: relative;
}
/* line 7, ../sass/components/_timeline.scss */
.com-timeline h3 {
  text-align: right;
}
/* line 11, ../sass/components/_timeline.scss */
.com-timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #999999;
  left: 50%;
  margin-left: -1.5px;
}
/* line 22, ../sass/components/_timeline.scss */
.com-timeline .timeline-heading, .com-timeline .timeline-body {
  text-align: right;
}
/* line 25, ../sass/components/_timeline.scss */
.com-timeline .timeline-heading p, .com-timeline .timeline-body p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1;
  vertical-align: bottom;
  margin: 0;
  text-transform: uppercase;
}
/* line 36, ../sass/components/_timeline.scss */
.com-timeline .timeline-body p {
  font-size: 10px;
}
/* line 41, ../sass/components/_timeline.scss */
.com-timeline > li {
  margin-bottom: 20px;
  position: relative;
}
/* line 45, ../sass/components/_timeline.scss */
.com-timeline > li:before, .com-timeline > li:after {
  content: " ";
  display: table;
}
/* line 50, ../sass/components/_timeline.scss */
.com-timeline > li:after {
  clear: both;
}
/* line 54, ../sass/components/_timeline.scss */
.com-timeline > li .timeline-panel {
  width: 46%;
  float: left;
  padding: 5px;
  position: relative;
}
/* line 60, ../sass/components/_timeline.scss */
.com-timeline > li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  content: " ";
}
/* line 68, ../sass/components/_timeline.scss */
.com-timeline > li .timeline-panel.after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  content: " ";
}
/* line 77, ../sass/components/_timeline.scss */
.com-timeline > li .timeline-time {
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  color: black;
}
/* line 84, ../sass/components/_timeline.scss */
.com-timeline > li .timeline-badge {
  color: white;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: 5px;
  margin-left: -7.5px;
  background-color: white;
  z-index: 100;
  border: 2px solid #00a4de;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
/* line 105, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel {
  float: right;
}
/* line 108, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel h3 {
  text-align: left;
}
/* line 112, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel .timeline-heading, .com-timeline > li.timeline-inverted .timeline-panel .timeline-body {
  text-align: left;
}
/* line 114, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel .timeline-heading p, .com-timeline > li.timeline-inverted .timeline-panel .timeline-body p {
  font-size: 12px;
  line-height: 18px;
  vertical-align: bottom;
  margin: 0;
  text-transform: uppercase;
}
/* line 124, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel .timeline-body p {
  font-size: 10px;
}
/* line 129, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 136, ../sass/components/_timeline.scss */
.com-timeline > li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* line 1, ../sass/components/_ratingbar.scss */
.com-ratingbar {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: block;
  height: 10px;
  clear: both;
}
/* line 8, ../sass/components/_ratingbar.scss */
.com-ratingbar li {
  float: left;
  margin-left: 5px;
  width: 8px;
  text-indent: -99999px;
  height: 8px;
  border-radius: 2px;
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 19, ../sass/components/_ratingbar.scss */
.com-ratingbar li.empty {
  background: #bbb;
}
/* line 22, ../sass/components/_ratingbar.scss */
.com-ratingbar li.filled {
  background: #666;
}
/* line 26, ../sass/components/_ratingbar.scss */
.com-ratingbar li.half {
  background: linear-gradient(45deg, #666666 0%, #666666 50%, #bbbbbb 50%, #bbbbbb 100%);
}

/* line 1, ../sass/components/_onoffswitch.scss */
.onoffswitch {
  position: relative;
  width: 68px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 5, ../sass/components/_onoffswitch.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 8, ../sass/components/_onoffswitch.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #666;
  border-radius: 0px;
}

/* line 12, ../sass/components/_onoffswitch.scss */
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* line 17, ../sass/components/_onoffswitch.scss */
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/components/_onoffswitch.scss */
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #00A4DE;
  color: #FFFFFF;
}

/* line 27, ../sass/components/_onoffswitch.scss */
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #EEEEEE;
  color: #666;
  text-align: right;
}

/* line 33, ../sass/components/_onoffswitch.scss */
.onoffswitch-switch {
  display: block;
  width: 15px;
  margin: 4px;
  background: #FFFFFF;
  border: 2px solid #666;
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 44px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

/* line 41, ../sass/components/_onoffswitch.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* line 44, ../sass/components/_onoffswitch.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* line 3, ../sass/components/_editmode.scss */
body.editmode-enabled * {
  box-sizing: border-box;
}
/* line 6, ../sass/components/_editmode.scss */
body.editmode-enabled .row {
  border-left: 1px dashed #999;
  border-right: 1px dashed #999;
  border-bottom: 1px dashed #999;
}
/* line 7, ../sass/components/_editmode.scss */
body.editmode-enabled .row:first-child {
  border-top: 1px dashed #999;
}
/* line 13, ../sass/components/_editmode.scss */
body.editmode-enabled .row > div {
  border-right: 1px dashed #999;
}
/* line 15, ../sass/components/_editmode.scss */
body.editmode-enabled .row > div:last-child {
  border-right: none;
}
/* line 20, ../sass/components/_editmode.scss */
body.editmode-enabled .row:hover {
  border-color: red;
}

/* line 1, ../sass/components/_loading.scss */
#loading-overlay {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  display: none;
}

/* line 12, ../sass/components/_loading.scss */
.spinner-wrapper {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  margin: auto;
}

/* line 19, ../sass/components/_loading.scss */
.spinner {
  width: 100px;
  height: 100px;
  background: #00a4de;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  /* line 30, ../sass/components/_loading.scss */
  0% {
    -webkit-transform: perspective(120px);
  }

  /* line 31, ../sass/components/_loading.scss */
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  /* line 32, ../sass/components/_loading.scss */
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  /* line 36, ../sass/components/_loading.scss */
  0% {
    transform: perspective(100px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  /* line 39, ../sass/components/_loading.scss */
  50% {
    transform: perspective(100px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  /* line 42, ../sass/components/_loading.scss */
  100% {
    transform: perspective(100px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* line 1, ../sass/_xeditable.scss */
.editable-wrap {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  width: 100%;
}

/* line 7, ../sass/_xeditable.scss */
.editable-wrap .editable-controls, .editable-wrap .editable-error {
  margin-bottom: 0;
  width: 100%;
}

/* line 12, ../sass/_xeditable.scss */
.editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select,
.editable-wrap .editable-controls > textarea {
  margin-bottom: 0;
  width: 100%;
}

/* line 17, ../sass/_xeditable.scss */
.editable-wrap .editable-controls > textarea {
  min-height: 450px;
}

/* line 21, ../sass/_xeditable.scss */
.editable-wrap .editable-input {
  display: inline-block;
}

/* line 25, ../sass/_xeditable.scss */
.editable-buttons {
  display: block;
  margin-top: 10px;
}

/* line 30, ../sass/_xeditable.scss */
.editable-buttons button {
  margin-left: 5px;
}
/* line 32, ../sass/_xeditable.scss */
.editable-buttons button:first-child {
  margin-left: 0px;
}

/* line 37, ../sass/_xeditable.scss */
.editable-input.editable-has-buttons {
  width: auto;
}

/* line 41, ../sass/_xeditable.scss */
.editable-bstime .editable-input input[type=text] {
  width: 100%;
}

/* line 45, ../sass/_xeditable.scss */
.editable-bstime .well-small {
  margin-bottom: 0;
  padding: 10px;
}

/* line 50, ../sass/_xeditable.scss */
.editable-range output {
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  text-align: center;
}

/* line 57, ../sass/_xeditable.scss */
.editable-color input[type=color] {
  width: 50px;
}

/* line 61, ../sass/_xeditable.scss */
.editable-checkbox label span, .editable-checklist label span, .editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px;
  width: 100%;
}

/* line 67, ../sass/_xeditable.scss */
.editable-hide {
  display: none !important;
}

/* line 71, ../sass/_xeditable.scss */
.editable-click, a.editable-click {
  text-decoration: none;
  cursor: pointer;
}

/* line 77, ../sass/_xeditable.scss */
.editable-click:hover, a.editable-click:hover {
  text-decoration: none;
  color: red;
  font-style: underline;
}

/* line 84, ../sass/_xeditable.scss */
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty,
a.editable-empty:hover, a.editable-empty:focus {
  font-style: italic;
  color: #D14;
  text-decoration: none;
}

/*
  Because the print view doesnt show the colors, ignoring the print settings, forced by twitter bootstrap.
  So i musr set the colors to important. I know !important is really ugly and unmaintainable
*/
@page {
  size: "A4 portrait";
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 0;
}

@media print {
  /* line 16, ../sass/_print.scss */
  *, :before, :after {
    color: inherit !important;
    text-shadow: inherit !important;
    background: transparent !important;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
  }

  /* line 24, ../sass/_print.scss */
  html, body {
    background: white !important;
    padding: 0;
    margin: 0;
  }

  /* line 30, ../sass/_print.scss */
  article {
    margin: 0 !important;
  }

  /* line 34, ../sass/_print.scss */
  h1 {
    color: black !important;
  }

  /* line 38, ../sass/_print.scss */
  h2 {
    color: #00a4de !important;
  }

  /* line 42, ../sass/_print.scss */
  h3 {
    color: #999999 !important;
  }

  /* line 46, ../sass/_print.scss */
  .logo i {
    color: #00a4de !important;
  }

  /* line 50, ../sass/_print.scss */
  ul.navigation, ul.print, ul.settings {
    display: none;
  }

  /* line 56, ../sass/_print.scss */
  .com-ratingbar li.empty {
    background: #bbb !important;
  }
  /* line 59, ../sass/_print.scss */
  .com-ratingbar li.filled {
    background: #666 !important;
  }
  /* line 63, ../sass/_print.scss */
  .com-ratingbar li.half {
    background: linear-gradient(45deg, #666666 0%, #666666 50%, #bbbbbb 50%, #bbbbbb 100%) !important;
  }

  /* line 70, ../sass/_print.scss */
  .com-timeline:before, .com-timeline:after {
    background-color: #999999 !important;
  }
  /* line 75, ../sass/_print.scss */
  .com-timeline > li .timeline-badge {
    background-color: white !important;
  }

  /* line 81, ../sass/_print.scss */
  a[href]:after {
    display: none;
  }
}
/* line 25, ../sass/style.scss */
* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}

/* line 30, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/style.scss */
#area {
  position: relative;
}

/* line 42, ../sass/style.scss */
.uppercased {
  text-transform: uppercase;
}

/* line 46, ../sass/style.scss */
h1, h2, h3 {
  font-family: "Oswald", "Helvetica Neue", "Arial";
  line-height: 1.5;
  text-transform: uppercase;
}

/* line 52, ../sass/style.scss */
h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #00a4de;
}

/* line 58, ../sass/style.scss */
a {
  color: #00a4de;
}

/* line 62, ../sass/style.scss */
h3 {
  color: #999999;
  font-weight: 100;
  text-align: center;
  margin-top: 6px;
  letter-spacing: 2;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Arial";
}

/* line 71, ../sass/style.scss */
.logo {
  text-align: center;
  color: #00a4de;
}

/* line 77, ../sass/style.scss */
.social-media ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: block;
  height: 10px;
  clear: both;
}
/* line 84, ../sass/style.scss */
.social-media ul li {
  float: left;
  margin: 5px;
}

/* line 91, ../sass/style.scss */
span.separator {
  content: '\\2666';
}
