/*
  Colors
*/

$primary-color: #000000;
$secondary-color: #00a4de;
$third-color: #999999;
$fourth-color: #ffffff;

$background-color: #eee;
$paper-color: $fourth-color;

/*
  Fonts
*/

$large-font-size: 14px;
$medium-font-size: 12px;
$small-font-size: 10px;

$text-font-family: "Open Sans", "Helvetica Neue", "Arial";
$headline-font-family: "Oswald", "Helvetica Neue", "Arial";

$half-space: 5px;
$space: $half-space * 2;
