<section id="area">
  <article id="cover-letter">
    <ng-include src="'/views/_partials/navigation.html'"></ng-include>
    <ng-include src="'/views/_partials/header.html'"></ng-include>
    <div class="application-content">
      <div class="row">
        <div class="col-xs-6">
          <p>
            <b class="uppercased">
              <span ng-hide="!$root.editmode" buttons="no" ng-bind-html="company.name.value" editable-text="company.name.value"></span>
              <span ng-hide="$root.editmode" ng-bind-html="company.name.value"></span>
            </b>
            <br>
            <span ng-hide="!$root.editmode" buttons="no" ng-bind-html="company.address.person.value" editable-text="company.address.person.value"></span>
            <span ng-hide="$root.editmode" ng-bind-html="company.address.person.value"></span>
            <br>
            <span ng-hide="!$root.editmode" buttons="no" ng-bind-html="company.address.street.value" editable-text="company.address.street.value"></span>
            <span ng-hide="$root.editmode" ng-bind-html="company.address.street.value"></span>
            <br>
            <span ng-hide="!$root.editmode" buttons="no" ng-bind-html="company.address.plz.value" editable-text="company.address.plz.value"></span>
            <span ng-hide="$root.editmode" ng-bind-html="company.address.plz.value"></span>
            <span ng-hide="!$root.editmode" buttons="no" ng-bind-html="company.address.city.value" editable-text="company.address.city.value"></span>
            <span ng-hide="$root.editmode" ng-bind-html="company.address.city.value"></span>
          </p>
        </div>
        <div class="col-xs-6 text-right">
          <p>
            {{ person.address.city.value }}, den {{ date.getDate() }}.{{ date.getMonth() + 1 }}.{{ date.getFullYear() }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="spacer-10"></div>
          <div class="logo">
            <i class="fa fa-2x fa-home"></i>
          </div>
          <h3 ng-hide="!$root.editmode" buttons="no" ng-bind-html="application.subject.value" editable-text="application.subject.value"></h3>
          <h3 ng-hide="$root.editmode" buttons="no" ng-bind-html="application.subject.value"></h3>
          <div class="spacer-10"></div>
          <p ng-hide="!$root.editmode" class="title" buttons="no" ng-bind-html="application.title" editable-text="application.title"></p>
          <p ng-hide="$root.editmode" class="title" buttons="no" ng-bind-html="application.title"></p>
          <div class="content">
              <div ng-hide="!$root.editmode" href="#" ng-bind-html="application.content" editable-textarea="application.content">
              </div>
              <div ng-hide="$root.editmode" href="#" ng-bind-html="application.content">
              </div>
          </div>
          <div class="spacer-10"></div>
          <p ng-hide="!$root.editmode" buttons="no" class="salutation" ng-bind-html="application.salutation" editable-text="application.salutation"></p>
          <p ng-hide="$root.editmode" class="salutation" ng-bind-html="application.salutation"></p>
          <div class="spacer-20"></div>
          <p ng-hide="!$root.editmode" buttons="no" class="name" ng-bind-html="application.signing" editable-text="application.signing"></p>
          <p ng-hide="$root.editmode" class="name" ng-bind-html="application.signing"></p>
        </div>
      </div>
    </div>
    <ng-include src="'/views/_partials/footer.html'"></ng-include>
  </article>
</section>
