<article id="skill-page">
  <ng-include src="'/views/_partials/navigation.html'"></ng-include>
  <ng-include src="'/views/_partials/header.html'"></ng-include>
  <div class="application-content">
    <div ng-repeat="section in skills.skillSections">
      <div class="skill-section row">
        <div class="col-xs-12">
          <div class="logo">
            <i class="fa {{ section.icon }} fa-2x"></i>
          </div>
          <h3>{{ section.name }}</h3>
        </div>
        <div ng-repeat="table in section.skillTable">
          <div class="col-xs-4">
            <div class="row">
              <div class="information-list">
                <div class="col-xs-12">
                  <p><strong>{{ table.name }}</strong></p>
                  <div class="list">
                    <table>
                      <tr ng-repeat="skill in table.skills">
                        <td>
                          <p>{{ skill.name }}</p>
                        </td>
                        <td>
                          <ratingbar range="{{skill.range }}"></ratingbar>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'/views/_partials/footer.html'"></ng-include>
</article>
