<div class="application-footer">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <span>{{ person.address.fullName.value }}</span>
        <span class="separator">-</span>
        <span>{{ person.address.street.value }}</span>
        <span class="separator">-</span>
        <span>{{ person.address.plz.value }} {{ person.address.city.value }}</span>
        <span class="separator">-</span>
        <span>E-Mail: {{ person.address.email.value }}</span>
        <span class="separator">-</span>
        <span>Tel.: {{ person.address.telephone.value }}</span>
      </p>
    </div>
  </div>
</div>
