<ul class="print">
  <li class="cover btn-info">
    <a onclick="javascript:window.print()">
      <i class="fa fa-print">
      </i>
    </a>
  </li>
</ul>
<ul class="navigation">
  <li class="cover btn-primary">
    <a ng-href="/">Cover</a>
  </li>
  <li class="application btn-success">
    <a ng-href="/cover-letter">Anschreiben</a>
  </li>
  <li class="curriculum btn-warning">
    <a ng-href="/curriculum-vitae">Lebenslauf</a>
  </li>
  <li class="skills btn-danger">
    <a ng-href="/skill-page">Fähigkeiten</a>
  </li>
</ul>
