ul.print
  li.cover.btn-info
    a(onclick='javascript:window.print()')
      i.fa.fa-print
ul.navigation
  li.cover.btn-primary
    a(ng-href='/') Cover
  li.application.btn-success
    a(ng-href='/application') Anschreiben
  li.curriculum.btn-warning
    a(ng-href='/curriculum-vitae') Lebenslauf
  li.skills.btn-danger
    a(ng-href='/skill-page') Fähigkeiten
