#application {

  .application-content {
    .content p {
      text-align: justify;
      margin-bottom: $space + $half-space;
    }
    p {
      font-family: $text-font-family;
      line-height: 1.5;
    }
  }
  .subject {
    color: $third-color;
    font-weight: bold;
  }
}
