body.editmode-enabled {

  * {
    box-sizing: border-box;
  }
  .row {
    &:first-child {
      border-top: 1px dashed #999;
    }
    border-left: 1px dashed #999;
    border-right: 1px dashed #999;
    border-bottom: 1px dashed #999;
    > div {
      border-right: 1px dashed #999;
      &:last-child {
        border-right: none;
      }
    }

    &:hover {
      border-color: red;
    }
  }
}
