<div class="application-header">
  <div class="row">
    <div class="col-xs-4">
      <div class="name">
        <h1>{{ person.name.value }}<br>
        {{ person.forename.value }}</h1>
        <div class="social-media">
          <ul>
            <li ng-repeat="entry in social.entries">
              <a ng-href="{{ entry.href }}" target="{{ entry.target }}">
                <i class="{{ entry.class }}" style="color: {{ entry.color }} !important;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="profile-photo">
        <img class="{{ person.portrait.class }}" src="{{ person.portrait.src }}"></img>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="address">
        <p>
          <span>{{ person.address.fullName.value }}</span><i class="{{ person.address.fullName.class }}"></i><br>
          <span>{{ person.address.street.value }}</span><i class="{{ person.address.street.class }}"></i><br>
          <span>{{ person.address.plz.value }}</span><i class="{{ person.address.plz.class }}"></i><br>
          <span>{{ person.address.email.value }}</span><i class="{{ person.address.email.class }}"></i><br>
          <span>{{ person.address.telephone.value }}</span><i class="{{ person.address.telephone.class }}"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-push-2 col-xs-8">
      <hr>
    </div>
  </div>
</div>
