#index {
  .application-content {
    margin-top: 2 * $space;
    h1, h2, h3 {
      line-height: 1;
    }

    h3 {
      text-align: left;
    }

    .first-row {
      width: 100%;
      a {
        font-size: $medium-font-size;
        font-family: $text-font-family;
        text-transform: uppercase;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
