body.editmode-enabled {

  .site-separator {
    display: none;
  }

  * {
    box-sizing: border-box;
  }

  .application-footer {
    position: relative;
  }

  .row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px dashed #999;

    &:hover {
      border-color: red;
    }
  }
}
